@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(360deg);
  }
}

.app {
  width: 100%;
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
}

.main {
  width: 100%;
  padding: 80px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
}

.main .button {
  margin-bottom: 16px;
}

.button {
  cursor: pointer;
  width: 100%;
  height: 56px;
  background-color: #003594;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.button:hover {
  opacity: 0.8;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #8090A6;
  padding-bottom: 8px;
  box-sizing: border-box;
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  color: #111820;
}

.login {
  width: 100%;
  padding: 68px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.login p {
  align-self: flex-start;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
  color: #8090A6;
}

.login button {
  margin: 41px 0 42px 0;
}

.login .login__to-register-link {
  align-self: flex-start;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
  color: #003594;
  text-decoration: none;
}

.login__loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.logim__loader p {
  align-self: flex-start;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 24px;
  color: #8090A6;
}

.go-back-arrow {
  position: absolute;
  background-image: url(./images/icon-back.svg);
  background-size: 18px 15px;
  background-position: center;
  width: 18px;
  height: 15px;
  top: 32px;
  left: 18px;
}

.register {
  width: 100%;
  height: 100vh;
  padding: 92px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.register p {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  color: #8090A6;
  margin: 4px 0 0 0;
  padding: 0;
}

.register button {
  margin: 16px 0 0 0;
}

.register__agreement {
  display: flex;
  flex-direction: row;
}

.register__agreement label {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  color: #0E1318;
}

.register__title {
  position: absolute;
  transform: translateY(-25%);
  top: 32px;
  left: 54px;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 20px;
  line-height: 32px;
  color: #111820;
}

.confirmation {
  width: 100%;
  padding: 73px 16px 16px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
}

.confirmation__title {
  position: absolute;
  transform: translateY(-20%);
  top: 32px;
  left: 54px;
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: 20px;
  line-height: 26px;
  color: #111820;
}

.confirmation p {
  font-family: Arial;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin: 0 0 29px 0;
  padding: 0;
  color: #8090A6;
}

.confirmation__numbers {
  display: flex;
  flex-direction: row;
  gap: 12px;
  margin: 0 0 55px 0;
}

.confirmation__nambers input {
  width: 28px;
  height: 28px;
  text-align: center;
  font-family: Arial;
  font-size: 22px;
  line-height: 29px;
  color: #1B2127;
  border: none;
  border-bottom: 2px solid #DFE3EB;
}

.confirmation__keyboard {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.confirmation__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.confirmation__keyboard-number {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmation__key {
  background-color: white;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  font-family: Arial;
  font-size: 22.2116px;
  line-height: 29px;
  text-align: center;
  color: #1B2127;
  border: none;
  cursor: pointer;
}


.confirmation__key:hover {
  background: #DFE3EB;
}

.confirmation__special-key {
  width: 33.3%;
  height: 40px;
  cursor: pointer;
}

.confirmation__special-key_backspace {
  background-image: url(./images/backspace.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 17.5px 12.5px;  
}

.confirmation__special-key_info {
  font-family: Arial;
  font-size: 9.51927px;
  line-height: 13px;
  text-align: center;
  color: #003594;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 56px;
  height: 56px;
  background-image: url(./images/loader.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 56px 56px;
  animation-name: rotation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}